<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
        <% userlist.forEach(function(user){ %>
        <li><a href="mailto:<%= user.email %>"><%= user.username %></a></li> 
        <%})%>
        </ul>
  </body>
</html>
